In [1]:
import pandas as pd

In [9]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [10]:
type(ufo)

pandas.core.frame.DataFrame

In [11]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [14]:
type(ufo['City'])

pandas.core.series.Series

In [15]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [18]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [19]:
ufo.shape

(18241, 5)

In [20]:
ufo.head

<bound method NDFrame.head of                        City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]>

In [21]:
'ab'+'cd'

'abcd'

In [24]:
ufo['location']=ufo.City+',' +ufo.State

In [25]:
ufo.location

0                      Ithaca,NY
1                 Willingboro,NJ
2                     Holyoke,CO
3                     Abilene,KS
4        New York Worlds Fair,NY
                  ...
18236              Grant Park,IL
18237             Spirit Lake,IA
18238             Eagle River,WI
18239             Eagle River,WI
18240                    Ybor,FL
Name: location, Length: 18241, dtype: object